#screen {
    width: 1100px;
    height: 600px;
    position: relative;
    top: 20px;

    border: 3px solid black;
    border-radius: 1000px;

    display: flex;
    align-items: center;

    margin: auto;
    overflow: hidden;
}

#bounds {
    width: 500px;
    height: 300px;

    position: relative;
    margin: auto;

    display: flex;
    align-items: center;
}

#character {
    width: 50px;
    height: 100px;

    background-color: black;

    position: relative;
    margin: auto;

    border: 1px solid black;

    transition: transform 2s ease-out;

}

#background {
    background-image: url('./img/background.png');
    background-size: cover;

    position: absolute;
    left: -60%;
    width: 200%;
    height: 500%;

    position: absolute;
    transition: transform 0.1s ease-out;
}

#parallax {
    background-image: url('./img/parallax.png');
    background-size: cover;

    border: 1px solid black;
    position: absolute;
    top: -200%;
    width: 100%;
    height: 400%;

    position: absolute;
    transition: transform 2s ease-out;
}

.thing {
    width: 1000px;
    height: 1000px;

    background-color: gray;

    position: relative;
    right: -100px;
    bottom: 100px;
}
